#node-chat-bar {
	position: fixed;
	bottom: 0;
	right: 80px;
}
	.node-chat-window {
		bottom: 0;
		position: relative;
		display: inline-block;
		background: #fff;
		width: 280px;
		border: solid 1px;
	}
	.node-chat-window-no-display ul{
		display: none;
	}
	.node-chat-window-no-display form{
		display: none;
	}
	.node-chat-window input {
		width: 65%;
		margin: 0px;
		box-sizing: border-box;
		height: 31px;
	}
	.node-chat-window button {
		border: none;
		background: #4CB4FF;
		width: 35%;
		height: 31px;
		box-sizing: border-box;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	.node-chat-window h2 {
		margin: 0;
		height: 35px;
		background: #004A7F;
		color: #fff;
		font-size: 17px;
		text-align: center;
		text-transform: capitalize;
		line-height: 33px;
		cursor: hand;
		cursor: pointer;
	}
	.node-chat-messages {
		list-style-type: none;
		margin: 0;
		padding: 3%;
		height: 250px;
		overflow: scroll;
	}

	.node-chat-user {
		text-transform: capitalize;
		font-weight: bold;
		font-family: courier;
	}
		.node-chat-user-text {
			margin-bottom: .2em;
		}
		.node-chat-user:after {
			content: ":"
		}
	.node-chat-emoji-wrapper {
		padding: 10px;
		height: 150px;
		position: absolute;
		bottom: 0;
		width: 200px;
		background: #fff;
		border: solid #f1f1f1 1px;
		left: -230px;
		overflow-x: scroll;
	}
	.node-chat-emojis {
		width: 100%;
		text-align: center;
	}
	.node-chat-emojis span {
		cursor: pointer;
		cursor: hand;
	}
	.node-chat-window-no-display .node-chat-emoji-wrapper {
		display: none;
	}
/*Emoji one*/
.emojione{
	font-size:inherit;
	height:3ex;
	width:3.1ex;
	min-height:20px;
	min-width:20px;
	display:inline-block;
	margin:-.2ex .15em .2ex;
	line-height:normal;
	vertical-align:middle;
	}
	img.emojione{
		width:auto;
	}

